@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

*{
  font-family: 'Roboto', sans-serif;
  margin: 15px 15px 15px 20px;
}
h1{
  text-align: center;
}
table{
  border: 12px solid black;
}