<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Nombre de la escuela</title>
<style>
	@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

	*{
		font-family: 'Roboto', sans-serif;
		margin: 15px 15px 15px 20px;
		background-color: #AFAFAF;
	}
	h1{
		text-align: center;
	}
	table{
		border: 12px solid black;
	}
</style>
</head>
<body>
	<h1>Actividad 3: Nombre de los alumnos.</h1>
	<br>
	<table>
		<tr>
			<th><h2>NOMBRE DE LA ESCUELA: <span th:text="${nombre}"></span></h2></th>
		</tr>
		<tr>
			<th><h2 style="color: #FFFFFF;">Asignatura: </h2><h2><span th:text="${asignatura.nombre}"></span></h2><h2 style="color: #FFFFFF;">
			Profesor: </h2><h2><span th:text="${asignatura.profesorTitular.nombre}"></span><span th:text="${asignatura.profesorTitular.apellidos}"></span></h2></th>
		</tr>
	</table>

	<th><h1>NOMBRE DE LOS ALUMNOS</h1></th>
	<table>
		<thead>
			<tr>
				<th>Nombre: </th>
				<th>Apellidos: </th>
			</tr>
		</thead>
		<tbody th:each = "alumno: ${alumnos}">
			<tr>
				<th th:text = "${alumno.nombre}"></th>
				<th th:text = "${alumno.apellidos}"></th>
			</tr>
		</tbody>
	</table>
</body>
</html>
